<%
#set :graph, @graph
#set :friend_hash, friend_hash
#TODO _friend < % = settings.friend_hash.inspect % >
  uninteresting_fields = %w{id name}
%>
<h6>erb friend</h6>
<img src='<%= @graph.get_picture('me') %>'               height='30' />
<img src='<%= @graph.get_picture(friend_hash['id'] ) %>' height='30' />

  <a href='#{fblink(friend_hash['id'])}'>
    <font color='#{color}'>
      <%= friend_hash['name'] %>
    </font>
  </a> - 
  <small>
	#{friend_hash.delete_if{ |k,v| uninteresting_fields.include?(k)  }.inspect}
  </small> 

  <br/>
