<a href='/friendlists/'>Friends List</a>

<h2>Friends Test</h2>


Friends:<br/>
<a href='/friends/123'>John - Friend 123</a><br/>
<a href='/friends/456'>Alice - Friend 456</a><br/>
Graphs:<br/>
<a href='/graphs/palladius'>Palladius</a><br/>
