<h2> Friend list</h2>

It would be nice here to show your friends!!! If this is empty, it means your token is not powerful enough..<br/>

<ul>
<% settings.friend_list.sort{|a,b| a['name'] <=> b['name'] }.first(10).each do |hash| %>
  <%= erb :_friendlist_mini, :locals => { :hash => hash }%>
<% end %>
</ul>